[Unit]
Description=Compile system dconf databases
Documentation=https://github.com/coreos/rpm-ostree/issues/1944
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dconf update

[Install]
WantedBy=graphical.target
